{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  
  {% block baseheader %}
<head>
{% block favicon %}
<link rel="icon" type="image/png" href="{% static "favicon.png" %}" />
<link rel="shortcut icon" href="{% static "favicon.ico" %}" />
{% endblock %}

{% block header %}
{% endblock %}

<title>
{% block title %}
DECaLS Browser
{% endblock %}
</title>

<style type="text/css">
{% block css %}
{% endblock %}
</style>

</head>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
<body>
{% block content %}
{% endblock %}
</body>
{% endblock %}

</html>
