{% extends "base.html" %}

{% block content %}
<h1>DECaLS cutouts around RA,Dec = {{ ra }}, {{ dec }}</h1>

<p>
Brick {{ brick.brickname }} with RA,Dec center {{ brick.ra|floatformat:4 }}, {{ brick.dec|floatformat:4 }}.  Pixel coords: {{ brickx|floatformat:1 }}, {{ bricky|floatformat:1 }}
</p>

<table>
<tr>
<th>DR1 sources</th>
<td rowspan="2">
Point sources: green<br />
deV galaxies: red<br />
exp galaxies: blue<br />
composite galaxies: magenta<br />
SDSS objects: X
</td>
</tr>
<tr>
<td>
<img src="{% url 'cat_plot' %}?ra={{ ra }}&dec={{ dec }}" />
</td>
</tr>
</table>

<table>
<tr>
<th>CCD</th>
<th>Image</th>
<th>Model (DR1)</th>
<th>Resid (DR1)</th>
<th>PSF fit</th>
<th>PsfEx</th>
</tr>

{% for ccdstr,ccdurl in ccds %}
<tr>
<td>
{{ ccdstr|safe }}
</td>
<td colspan="5">
<img src="{{ ccdurl}}" width="500" height="100" />
</td>
</tr>
{% endfor %}
</table>
{% endblock %}

