{% extends "base.html" %}

{% block content %}
<h1>DECaLS cutouts around RA,Dec = {{ ra }}, {{ dec }}</h1>

<p>
Brick {{ brick.brickname }} with RA,Dec center {{ brick.ra|floatformat:4 }}, {{ brick.dec|floatformat:4 }}.  Pixel coords: {{ brickx|floatformat:1 }}, {{ bricky|floatformat:1 }}
</p>

<table>
<tr>
<th>EDR2 sources</th>
<th>EDR3 sources</th>
<td rowspan="2">
Point sources: green<br />
deV galaxies: red<br />
exp galaxies: blue<br />
composite galaxies: magenta<br />
SDSS objects: X
</td>
</tr>
<tr>
<td>
<img src="{% url 'cat_plot' %}?ra={{ ra }}&dec={{ dec }}" />
</td>
<td>
<img src="{% url 'cat_plot' %}?ra={{ ra }}&dec={{ dec }}&ver=3" />
</td>
</tr>
</table>

<table>
<tr>
<th>CCD</th>
<th>Image</th>
<th>Model (EDR2)</th>
<th>Resid (EDR2)</th>
<th>Model (EDR3)</th>
<th>Resid (EDR3)</th>
<th>PSF fit</th>
<th>PsfEx</th>
</tr>

{% for ccdstr,ccdurl in ccds %}
<tr>
<td>
{{ ccdstr }}
</td>
<td colspan="7">
<img src="{{ ccdurl}}" width="700" height="100" />
</td>
</tr>
{% endfor %}
</table>
{% endblock %}

