{% extends "base.html" %}

{% block content %}
<h1>DECaLS cutouts around RA,Dec = {{ ra }}, {{ dec }}</h1>

<p>
Brick {{ brick.brickname }} with RA,Dec center {{ brick.ra|floatformat:4 }}, {{ brick.dec|floatformat:4 }}.  Pixel coords: {{ brickx|floatformat:1 }}, {{ bricky|floatformat:1 }}
</p>

<img src="{% url 'cat_plot' %}?ra={{ ra }}&dec={{ dec }}" />

<table>
<tr>
<th>CCD</th>
<th>Image</th>
<th>Model (EDR2)</th>
<th>Resid</th>
<th>PSF</th>
</tr>
{% for ccd,x,y in ccds %}
<tr>
<td>
CCD {{ ccd.filter }} {{ ccd.expnum }} {{ ccd.extname }} x,y {{ x }}, {{ y }}
</td>
<td>
<img src="{% url 'ccd_cutout' expnum=ccd.expnum extname=ccd.extname %}?x={{x}}&y={{y}}" />
</td>
<td>
<img src="{% url 'model_cutout' expnum=ccd.expnum extname=ccd.extname %}?x={{x}}&y={{y}}" />
</td>
<td>
<img src="{% url 'resid_cutout' expnum=ccd.expnum extname=ccd.extname %}?x={{x}}&y={{y}}" />
</td>
<td>
<img src="{% url 'psf_cutout' expnum=ccd.expnum extname=ccd.extname %}?x={{x}}&y={{y}}" />
</td>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}

