{% extends "base.html" %}
{% load static %}

{% block header %}
<script src="{% static "jquery-2.1.1.min.js" %}"></script>
<script>  

// From Aaron in email 2018-Feb-04:

var ci_wcs = {
    'CIW': {'CRVAL1': 0.0, 'CRVAL2': 0.0, 'CRPIX1': 1536.5, 'CRPIX2': 49200.128533, 'CD1_1': 0.0, 'CD1_2': 3.2662717e-05, 'CD2_1': 3.5597795e-05, 'CD2_2': 0.0},
    'CIS': {'CRVAL1': 0.0, 'CRVAL2': 0.0, 'CRPIX1': 1536.5, 'CRPIX2': 49200.128533, 'CD1_1': -3.5597795e-05, 'CD1_2': 0.0, 'CD2_1': 0.0, 'CD2_2': 3.2662717e-05},
    'CIC': {'CRVAL1': 0.0, 'CRVAL2': 0.0, 'CRPIX1': 1536.5, 'CRPIX2': 1024.5, 'CD1_1': 3.7030344e-05, 'CD1_2': 0.0, 'CD2_1': 0.0, 'CD2_2': -3.7030344e-05},
    'CIN': {'CRVAL1': 0.0, 'CRVAL2': 0.0, 'CRPIX1': 1536.5, 'CRPIX2': 49200.128533, 'CD1_1': 3.5597795e-05, 'CD1_2': 0.0, 'CD2_1': 0.0, 'CD2_2': -3.2662717e-05},
    'CIE': {'CRVAL1': 0.0, 'CRVAL2': 0.0, 'CRPIX1': 1536.5, 'CRPIX2': 49200.128533, 'CD1_1': 0.0, 'CD1_2': -3.2662717e-05, 'CD2_1': -3.5597795e-05, 'CD2_2': 0.0},
}

// Function to search the current page URL's GET query portion URL?x=y
var QueryItems = function() {
    var terms = window.location.search.substr(1).split('&');
    var items = {};
    for (var i = 0; i < terms.length; ++i) {
        var words = terms[i].split('=');
        if (words.length == 1) {
            items[words[0]] = true;
        } else if (words.length == 2) {
            items[words[0]] = decodeURIComponent(words[1].replace(/\+/g, ' '));
        }
    }
    return items;
};
var qstr = QueryItems();

//var urls = [];

function toExp(f) {
    if (f == 0.0) {
        return '0';
    }
    return f.toExponential(4);
}

function moveTo(ra, dec, layer) {
    for (k in ci_wcs) {
        vals = ci_wcs[k];

        cosdec = Math.cos(dec * Math.PI/180.);
        crval1 = ra  + vals['CRVAL1'] / cosdec;
        crval2 = dec + vals['CRVAL2'];

        W = 3072;
        H = 2048;

        scale = 4.;
    
        sw = Math.round(W / scale);
        sh = Math.round(H / scale);

        crpix1 = (vals['CRPIX1'] - 0.5) / scale + 0.5;
        crpix2 = (vals['CRPIX2'] - 0.5) / scale + 0.5;

        url = 'http://legacysurvey.org/viewer-dev/cutout-wcs/?' +
            'crval1=' + crval1.toFixed(5) +
            '&crval2=' + crval2.toFixed(5) +
            '&crpix1=' + crpix1.toFixed(1) +
            '&crpix2=' + crpix2.toFixed(1) +
            '&cd11=' + toExp(vals['CD1_1'] * scale) +
            '&cd12=' + toExp(vals['CD1_2'] * scale) +
            '&cd21=' + toExp(vals['CD2_1'] * scale) +
            '&cd22=' + toExp(vals['CD2_2'] * scale) +
            '&imagew=' + sw +
            '&imageh=' + sh +
            '&layer=' + layer;
        console.log('url: ' + url);
        //urls[k] = url;

        $("#image_" + k).attr('src', url);

        //$("#gfa_center_" + i).html('(' + crval[0].toFixed(4) + ', ' +
        //                crval[1].toFixed(4) + ')');
    }
}

var r0 = 213.9;
var d0 = 37.4;
var lay0 = 'ls-dr67';

if ('ra' in qstr) {
    r0 = parseFloat(qstr['ra']);
}
if ('dec' in qstr) {
    d0 = parseFloat(qstr['dec']);
}
if ('layer' in qstr) {
    lay0 = qstr['layer'];
}

$(document).ready(function() {
    moveTo(r0, d0, lay0);
});

function submitRadec(e) {
    ra  = $('#ra_input').val();
    dec = $('#dec_input').val();
    ra = parseFloat(ra);
    dec = parseFloat(dec);
    layer = $('#layer_input').val();
    console.log('RA,Dec: ' + ra + ', ' + dec + ', layer: ' + layer);
    moveTo(ra, dec, layer);
}

function keyRadec(e) {
    if (e.which == 13) {
       submitRadec(e);
    }
}

$(document).ready(function() {
    $("#ra_input").attr('value', r0);
    $("#dec_input").attr('value', d0);
    $("#layer_input").val(lay0);
    $("#ra_input").keypress(keyRadec);
    $("#dec_input").keypress(keyRadec);
    $("#layer_input").change(submitRadec);
    $("#radec_submit").click(submitRadec);
});

</script>
{% endblock %}

{% block body %}
<body>

    <center>
    <h1>DESI Commissioning Instrument viewer</h1>

    <div>
    DESI center:
    <form>
    <input id="ra_input" name="name" size="6">
    <input id="dec_input" name="name" size="6">
    Layer: <select id="layer_input" name="name">
      <option value="ls-dr67">Legacy Surveys DR6/DR7</option>
      <option value="sdssco">SDSS</option>
      <option value="unwise-neo4">unWISE NEO4</option>
    </select>
    <input id="radec_submit" type="button" value="Go">
    </form>

    <div id="image-holder" />
    CIC:
    <br/>
    <img id="image_CIC" src="" width="768" height="512" />
    <br/>
    CIN:
    <br/>
    <img id="image_CIN" src="" width="768" height="512" />
    <br/>
    CIE:
    <br/>
    <img id="image_CIE" src="" width="768" height="512" />
    <br/>
    CIS:
    <br/>
    <img id="image_CIS" src="" width="768" height="512" />
    <br/>
    CIW:
    <br/>
    <img id="image_CIW" src="" width="768" height="512" />
    <br/>
</center>
</body>
{% endblock %}
    
