{% extends "base.html" %}

{% block content %}
<h1>{{ drname }} exposures around RA,Dec = {{ ra }}, {{ dec }}</h1>

<p>
<a href="{% url 'exposures_tgz' %}?ra={{ ra }}&dec={{ dec }}&size={{ size }}&layer={{ layer }}">Download a tarball of data</a>
</p>

{% if brick %}
<p>
Brick {{ brick.brickname }} with RA,Dec center {{ brick.ra|floatformat:4 }}, {{ brick.dec|floatformat:4 }}.  Brick pixel coords: {{ brickx|floatformat:1 }}, {{ bricky|floatformat:1 }}
</p>
{% endif %}

<p>
These are postage stamps from the calibrated image files
(so North is not necessarily up).
</p>

<p>
The "Weight" maps are 1/variance of the pixel values, including Poisson noise, so brighter
areas will have relatively smaller statistical weight.
</p>

<p>
The "DQ" maps are flags raised by the Community Pipeline during processing for, eg, Cosmic Rays,
bad pixels, etc.
</p>

<table>
<tr>
<th>CCD</th>
<th>Image</th>
<th>Weight</th>
<th>Image * (Weight>0)</th>
<th>DQ</th>
</tr>

{% for ccdstr,ccdurl in ccds %}
<tr>
<td>
{{ ccdstr|safe }}
</td>

<td>
<img src="{{ ccdurl }}" width="{{ size }}" height="{{ size }}" />
</td>

<td>
<img src="{{ ccdurl }}&kind=weight" width="{{ size }}" height="{{ size }}" />
</td>

<td>
<img src="{{ ccdurl }}&kind=weightedimage" width="{{ size }}" height="{{ size }}" />
</td>

<td>
<img src="{{ ccdurl }}&kind=dq" width="{{ size }}" height="{{ size }}" />
</td>

</tr>
{% endfor %}

</table>
{% endblock %}

