{% extends "base.html" %}

{% block content %}
<h1>{{ drname }} exposures around RA,Dec = {{ ra }}, {{ dec }}</h1>

<p>
  {% if showcut %}
  <a href="{% url 'exposures' %}?ra={{ ra }}&dec={{ dec }}&size={{ size }}&layer={{ layer }}">Don't show exposures that were cut from {{ drname }}</a>
  {% else %}
  <a href="{% url 'exposures' %}?ra={{ ra }}&dec={{ dec }}&size={{ size }}&layer={{ layer }}&cut">Show exposures that were cut from {{ drname }}</a>
  {% endif %}
</p>

{% if has_tarball %}
<p>
<a href="{% url 'exposures_tgz' %}?ra={{ ra }}&dec={{ dec }}&size={{ size }}&layer={{ layer }}">Download a tarball of data</a>
</p>
{% endif %}

{% if brick %}
<p>
Brick {{ brick.brickname }} with RA,Dec center {{ brick.ra|floatformat:4 }}, {{ brick.dec|floatformat:4 }}.  Brick pixel coords: {{ brickx|floatformat:1 }}, {{ bricky|floatformat:1 }}
</p>
{% endif %}

<p>
These are postage stamps from the calibrated image files
(so North is not necessarily up).
</p>

<p>
The "Weight" maps are 1/variance of the pixel values, including Poisson noise, so brighter
areas will have relatively smaller statistical weight.
</p>

<p>
The "DQ" maps are flags raised by the Community Pipeline during processing for, eg, Cosmic Rays,
bad pixels, etc.
</p>

<table>
<tr>
<th>CCD</th>
<th>Image</th>
<th>Weight</th>
<th>Image * (Weight>0)</th>
<th>DQ</th>
</tr>

{% for ccdstr,c1,c2,c3,c4 in ccds %}
<tr>
<td>
{{ ccdstr|safe }}
</td>

<td>
{{ c1|safe }}
</td>

<td>
{{ c2|safe }}
</td>

<td>
{{ c3|safe }}
</td>

<td>
{{ c4|safe }}
</td>

</tr>
{% endfor %}

</table>
{% endblock %}

