<html>
<head>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<style type="text/css">
#map { height: 100%; width: 100%; }

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

</style>

</head>

<body>
<div id="map" />

<script>

var map = L.map('map').setView([ {{ lat }}, {{ long }}], {{ zoom }});

L.tileLayer('{{ tileurl }}', {
			maxZoom: 18,
			attribution: 'DECaLS',
			id: '{{ layer }}'
		}).addTo(map);

// L.marker([ {{ lat }}, {{ long }}]).addTo(map)
// .bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();

// L.circle([ {{ lat }}, {{ long }}], 500, {
// color: 'red',
// fillColor: '#f03',
// fillOpacity: 0.5
// }).addTo(map).bindPopup("I am a circle.");
//
// L.polygon([
// [7.0, 242.0],
// [7.1, 242.0],
// [7.1, 242.1],
// [7.0, 242.1],
// ]).addTo(map).bindPopup("I am a polygon.");

var popup = L.popup();

function onMapClick(e) {
ra = 180 - e.latlng.lng;
dec = e.latlng.lat;
popup.setLatLng(e.latlng)
     .setContent("Click: RA,Dec = " + ra.toFixed(4) + ", " + dec.toFixed(4) +
           "<br/><a href=\"{{ baseurl }}ra=" + ra.toFixed(4) + '&dec=' + dec.toFixed(4) + '&zoom=' + map.getZoom()
                          + "\">link here</a>")
     .openOn(map);
}

map.on('click', onMapClick);

function onTileLoadStart(tile) {
//console.log('TileLoadStart'); //: tile: ' + tile.toString());
alert('TileLoadStart');
}

function onTileUnload(tile) {
  console.log('TileUnload'); //: tile: ' + tile.toString());
}

map.on('tileloadstart', onTileLoadStart);
map.on('tileunload',    onTileUnload);


var info = L.control();
info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this._div.innerHTML = '{{ ra|floatformat:4}}, {{ dec|floatformat:4}}';
    return this._div;
};
info.addTo(map);

function onMouseMove(e) {
    ra = 180 - e.latlng.lng;
    dec = e.latlng.lat;
    info._div.innerHTML = 'RA,Dec = ' + ra.toFixed(4) + ", " + dec.toFixed(4);
}

map.on('mousemove', onMouseMove);

{{ polygons }}

</script>

</body>

</html>
